.bi-whatsapp{
    font-size: 30px;
    color: green;
}
.bi-facebook{
    font-size: 30px;
    color: blue;
}
.bi-instagram{
    font-size: 30px;
    color: rgb(201, 53, 90);
}
.d-flex :hover{
transform: scale(1.2);
}
#footer{
    background-color: black;
    text-align: center;
}
.a{
    color: white;
    text-align: center;
}
.d-flex{
    text-align: center;
}